html {
  background-color: $color-html-bg;
  box-sizing: 320px;
  color: #555;
  font-family: Sukhumvit, Arial, serif;
  font-size: 20px;
  font-weight: 100;
  min-width: 320px;
}

body {
  font-size: 1rem;
  line-height: 1.7;
}

a {
  color: $color-green;
  cursor: pointer;
  text-decoration: none;
  transition: .3s color, .3s background, .3s border;

  * { cursor: pointer }
}

hr {
  border: none;
  border-top: 1px solid #ddd;
  margin: 1.5em 1em;
}

ul {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5{
  font-weight: 400;
  line-height: 1.2;
  margin: 1rem 0;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.8rem; }
h3 { font-size: 1.6rem; }
h4 { font-size: 1.4rem; }
h5 { font-size: 1.2rem; }

@media screen and (max-width: 360px) {
  h1 { font-size: 1.4rem; }
  h2 { font-size: 1.3rem; }
  h3 { font-size: 1.2rem; }
  h4 { font-size: 1.1rem; }
  h5 { font-size: 1rem; }

}
