.contact {
  .page { @include clear-float; }

  .license {
    color: #333;
    font-family: 'Dancing script';
    font-size: 2rem;
    font-weight: 600;
    line-height: 1;
  }

  .thanks {
    width: 100%;
  }

  .contact-informations {
    // @include clear-float;
    display: block;
    list-style: none;

    a { color: inherit; }

    li {
      display: inline-block;
      margin-left: 1rem;
      margin-bottom: 0.5rem;
    }

    .info-circle {
      border-radius: 50%;
      color: #fff;
      display: inline-block;
      line-height: 2.5rem;
      margin-right: 0.5rem;
      text-align: center;
      transition: .3s background;
      width: 2.5rem;
    }

    .info-line {
      i {
        background-color: $color-line;
        font-size: 0.75rem;
        font-style: normal;
        font-weight: 200;

        &:hover { background-color: $color-green; }
      }
    }

    .info-email {
      i {
        background-color: $color-yellow;
        &:hover { background-color: $color-yellow-dark; }
      }
    }

    @media screen and (max-width: 640px) {
      li {
        font-size: 0.85rem;
        margin-left: 0;
      }
    }

    @media screen and (max-width: 498px) {
      li {
        font-size: 1rem;
        margin-left: 1rem;
      }
    }

    @media screen and (max-width: 410px) {
      span { font-size: 0.75rem; }
    }

    @media screen and (max-width: 340px) {
      li { margin-left: 0; }
    }
  }

  @media screen and (min-width: 500px) {
    .avatar {
      float: left;
      margin-right: 1rem;
      width: 40%;

      img { max-width: 400px; }
    }
  }
}
