@font-face {
  src: url("../fonts/woff/SukhumvitSet-Thin.woff") format("woff");
  font-family: "Sukhumvit";
  font-style: normal;
  font-weight: 300;
}

@font-face {
  src: url("../fonts/woff/SukhumvitSet-Text.woff") format("woff");
  font-family: "Sukhumvit";
  font-style: normal;
  font-weight: 400;
}

@font-face {
  src: url("../fonts/woff/SukhumvitSet-SemiBold.woff") format("woff");
  font-family: "Sukhumvit";
  font-style: normal;
  font-weight: 700;
}
