$color-header: $color-cyan;
$color-header-border: $color-cyan-dark;

header {
  background-color: $color-header;
  border-bottom: 5px solid $color-header-border;
  box-shadow: 0 1px 2px $color-html-shadow;

  padding: 15px 50px;

  @media screen and (max-width: 480px) { padding: 15px; }

  #logo {
    color: #fff;
    font-family: 'Dancing script';
    font-size: 38px;
    position: relative;

    .suffix {
      // font-family: Sukhumvit, Arial;
      font-size: 18px;
      font-weight: 200;
      position: absolute;
      top: -10px;
      right: -32px;
    }
  }

  #topnav {
    float: right;

    li {
      float: left;
      list-style: none;
      margin-left: 10px;

      a {
        border-bottom-style: solid;
        border-bottom-width: 3px;
        border-radius: 3px;
        color: #fff;
        display: block;
        font-size: 18px;
        padding: 4px 15px;
      }

      i {
        font-size: 16px;
        margin-right: 10px;
      }

      .nav--allpost {
        background-color: $color-allpost;
        border-bottom-color: $color-allpost-dark;
      }

      .nav--contact {
        background-color: $color-contact;
        border-bottom-color: $color-contact-dark;
      }

      .nav--facebook {
        background-color: $color-facebook;
        border-bottom-color: $color-facebook-dark;
      }
    }

    @media screen and (max-width: 700px) {
      li {
        margin-left: 8px;

        a {
          text-align: center;
          width: 18px;
        }

        i { margin-right: 0; }
        .text { display: none; }
      }
    }

    @media screen and (max-width: 480px) {
      li {
        margin-left: 5px;

        a { padding: 4px 12px; }
      }
    }
  }
}

#content {
  padding: 15px 50px;

  @media screen and (max-width: 480px) { padding: 15px; }
}
