header {
  background-color: #555;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
  font-family: 'Roboto Condensed', Arial, serif;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;

  #logo {
    color: #fff;
    font-family: 'Dancing script';
    font-size: 28px;
    margin-left: 10px;
    position: relative;
    text-shadow: 0 1px 0 #333;

    .suffix {
      font-size: 14px;
      margin-left: 3px;
      vertical-align: top;
    }

    i {
      font-size: 16px;
      vertical-align: top;
    }
  }
}

#topnav {
  float: right;

  hr { display: none; }
  i { margin-right: 7px; }

  li {
    float: left;
    list-style: none;
    margin-left: 5px;
  }

  a {
    color: #fff;
    line-height: 25px;
    padding: 6px 14px;

    &.current { font-weight: 700; }
    &:hover { color: $color-dimmed-cyan; }

    &.follow-fb-link {
      background-color: $color-facebook;
      color: #fff;

      i { margin-right: 10px; }

      &:hover { background-color: $color-facebook-shadow; }
    }
  }

  .sidebar-toggle {
    cursor: pointer;
    display: none;
    font-size: 24px;
    padding: 0;
  }
}

footer {
  border-top: 1px solid #ccc;
  background-color: #ddd;
  bottom: 0;
  color: #888;
  font-size: 14px;
  padding-bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;

  .site-name {
    color: #555;
    font-family: 'Dancing Script';
    font-size: 24px;
    margin-left: 10px;
  }
}

#page-title {
  margin-top: 65px;

  .article-title {
    border-bottom: 1px solid #ddd;
    font-size: 50px;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
    overflow: hidden;
    padding-bottom: 20px;

    .subtitle {
      color: #999;
      font-size: 20px;
      padding-left: 5px;
      line-height: 1.8;

      .post-tags {
        display: inline;
        font-size: 16px;
        margin-left: 10px;

        a { color: $color-dimmed-light-orange; }
        i { margin-right: 8px; }
      }
    }
  }
}

.jumbotron-title {
  background-color: #aaa;
  height: 300px;
  margin:  0 0 25px 0 !important;
  position: relative;

  .background {
    background-color: $color-dimmed-grey-cyan;
    background-image: url('/images/jombotron.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    content: '';
    height: 100%;
    opacity: 0.5;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
  }

  h1 {
    color: #fff;
    border: none;
    font-family: 'Roboto Condensed';
    font-size: 90px;
    font-weight: 300;
    margin: 0;
    padding-top: 100px;
    position: relative;
    text-align: center;
    text-shadow: 5px 3px 0 rgba(50, 50, 50, 0.3);

    @media (max-width: 480px) {
      font-size: 60px;
    }
  }
}

#sidenav {
  animation-duration: .4s;
  background-color: #555;
  box-shadow: 0 -3px 5px #000;
  box-sizing: border-box;
  display: none;
  height: 100%;
  max-width: 400px;
  padding: 30px 20px;
  position: fixed;
  top: 0;
  right: 0;
  width: 90%;
  z-index: 2000;

  a {
    color: #fff;
    display: block;
    font-family: 'Roboto Condensed';
    font-weight: 300;
    list-style: none;
    padding: 20px;

    &.current { font-weight: 700; }
    &:hover { background-color: $color-dimmed-cyan; }
  }

  i { margin-right: 25px; }

  hr { border-top-color: #666; }

  .follow-fb-link i {
    margin-right: 32px;
  }

  .dismiss-btn {
    background-color: #777;
    border-radius: 50%;
    display: block;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 10px;
    padding: 0;
    text-align: center;
    width: 30px;

    i { margin: 0; }
  }
}

#modal-mask {
  background-color: #444;
  display: none;
  height: 100%;
  opacity: 0.7;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1990;
}

// -----------------------------------------------------------------------------
//   RESPONSIVE
// -----------------------------------------------------------------------------
@media (max-width: 800px) {
  #topnav {
    .sidebar-toggle { display: block; }
    ul { display: none; }
  }
}
