.post {
  box-sizing: border-box;
  float: left;
  margin-bottom: 30px;
  padding-right: 30px;
  width: 50%;

  a {
    border-bottom: 1px dashed #eee;
    box-sizing: border-box;
    display: block;
    padding: 15px;
    position: relative;
    width: 100%;

    &::after {
      content: "";
      clear: both;
      display: block;
    }

    &:hover {
      border-color: #aaa;

      .post-title { color: $color-facebook; }
    }
  }

  .post-cover {
    height: 150px;
    float: left;
    margin-right: 15px;
    width: 150px;
  }

  .post-title {
    color: #555;
    font-size: 26px;
    transition: .3s color;
  }

  .post-description {
    color: #888;
    height: 38px;
    overflow: hidden;
    margin-top: 15px;
  }

  .post-time {
    bottom: 15px;
    color: #ccc;
    font-size: 14px;
    position: absolute;
    right: 15px;

    i { margin-right: 5px; }
  }

  .post-author-info {
    margin-top: 8px;
    text-align: left;
  }
}

.post-author-info {
  color: #aaa;
  display: block;
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 10px;
  padding-right: 15px;
  text-align: right;

  .post-author { color: $color-dimmed-cyan; }
  .post-time {
    display: inline;
    margin-left: 10px;

    i { margin-right: 5px; }
  }
}
