.post {
  float: left;
  line-height: 1.4;
  margin-bottom: 20px;
  padding: 0 10px;
  width: 50%;

  a {
    background-color: #fff;
    box-shadow: 4px 4px 0 #ddd;
    box-sizing: border-box;
    display: block;
    padding: 10px;
    position: relative;
    width: 100%;

    &::after {
      content: "";
      clear: both;
      display: block;
    }
  }

  .post-cover {
    height: 200px;
    float: left;
    margin-right: 15px;
    width: 200px;
  }

  .post-title {
    color: #333;
    font-size: 22px;
    font-weight: 400;
    margin-right: 8px;
    margin-top: 10px;
    max-height: 85px;
    overflow: hidden;
    transition: .3s color;
  }

  .post-time {
    bottom: 10px;
    color: #aaa;
    font-size: 14px;
    margin-top: 5px;
    position: absolute;
    right: 15px;


    i { margin-right: 8px; }
  }

  .post-author-info {
    color: #888;
    display: block;
    font-size: 14px;
    font-weight: 700;
    margin-top: 10px;

    .post-author {
      color: $color-skitch;
      margin-left: 5px;
    }
  }

  @media (max-width: 1100px) {
    .post-title { font-size: 20px; }

    .post-cover {
      height: 150px;
      width: 150px;
    }
  }

  @media (max-width: 900px) {
    .post-title {
      font-size: 18px;
      height: 75px;
      max-height: 75px;
    }

    .post-cover {
      height: 90px;
      width: 90px;
    }

    .post-author-info {
      margin-top: 15px;
    }
  }

  @media (max-width: 670px) {
    float: none;
    padding: 0;
    width: 100%;

    .post-title {
      height: auto;
    }

    .post-author-info {
      margin-top: 10px;
    }
  }

  @media (max-width: 480px) {
    .post-title {
      height: 75px;
    }

    .post-author-info {
      margin-top: 15px;
    }
  }
}
