.post-card {
  background-color: #fff;
  border: 1px solid #eee;
  border-bottom: 3px solid #ddd;
  margin: 20px auto;
  max-width: 370px;

  .post-title {
    font-family: Sukhumvit;
    font-size: 20px;
    line-height: 1.3;
    padding: 15px;
  }

  .post-cover {
    width: 100%;
  }

  .post-description {
    color: #777;
    line-height: 1.3;
    padding: 10px 15px 15px 15px;
  }

  .post-time {
    color: #aaa;
    font-size: 14px;
    margin-top: 10px;
    padding: 0 15px;
    text-align: right;

    i { margin-right: 5px; }
  }

  .post-tags {
    background-color: #eee;
    border: 1px solid #ddd;
    line-height: 1.3;
    margin: 10px -1px -1px -1px;
    padding: 5px 10px;
    position: relative;
    text-align: right;

    a {
      color: #555;
      font-size: 14px;
      font-weight: 400;
      margin-right: 8px;

      &:hover { color: $color-sky-blue; }
    }

    i {
      color: #aaa;
      position: absolute;
      top: -8px;
      left: 15px;
    }
  }
}

.post {
  background-color: #fff;
  border-radius: 3px 3px 8px 8px;
  border: 1px solid #ddd;
  border-bottom: 5px solid #bbb;

  h1, h2, h3, h4, h5, h6 {
    border: none;
    padding-left: 0;
  }
}
