// Base colors.
$color-green-white: #DAEDDA;
$color-green: #339933;
$color-green-dark: #297A29;
$color-green-darker: #005C00;
$color-green-darkest: #004A00;
$color-facebook: #1947D1;
$color-facebook-dark: #123498;

// Common theme.
$color-html-bg: #ddd;
$color-html-shadow: #aaa;
