// Base colors.
$color-cyan: #5CE6B8;
$color-cyan-dark: #53CFA6;
$color-cyan-darker: #3D997A;
$color-allpost: #666;
$color-allpost-dark: #555;
$color-contact: #666;
$color-contact-dark: #555;
$color-facebook: #1947D1;
$color-facebook-dark: #143AA9;

// Common theme.
$color-html-bg: #ddd;
$color-html-shadow: #aaa;
