// Red tones.
$color-coral: #FF5050;
$color-red: #900;
$color-red-shadow: #700;
$color-skitch: #ff0066;

// Blue tones.
$color-sky-blue: #09f;
$color-facebook: #0066CC;
$color-facebook-shadow: #0052a3;

// Green tones.
$color-dimmed-grey-cyan: #A5C1B6;
$color-dimmed-cyan: #6EB893;
$color-dimmed-cyan-shadow: #5E8E77;
$color-aqua: #19d1a3;
$color-green: #080;
$color-yellow-green: #52cc29;

// Orange tones.
$color-dimmed-light-orange: #E0C897;
$color-orange: #ff7519;

// Purple tones.
$color-violet: #7519d1;

@mixin container {
  box-sizing: border-box;
  padding: 20px 40px;

  @media screen and (min-width: 1360px) {
    padding: 20px 0;
  }
}

@mixin content-wrapper {
  max-width: 1280px;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

@mixin clear-float {
  &::after  {
    content: "";
    clear: both;
    display: block;
    float: none;
    width: 100%;
  }
}
