---
title: Steven gerrard liverpool legend farewell
description: Test Article description
date: 2014-12-11
time: '12:11'
tags: test, first, qotd, old
cover: https://scontent-a-sin.xx.fbcdn.net/hphotos-xaf1/v/t1.0-9/10888520_405072966325299_1285697057432917698_n.jpg?oh=6cd2e10a1b4742570d6abe0def5af99d&oe=55281944
---

<div class='page'>
  Old
</div>
