---
title: "แท้จริงชีวิตคนเรานั้นเรียบง่าย เรานั่นแหละที่ทำให้มันลำบากเอง"
description: "ข้อคิดจากขงจื้อ"
date: 2015-02-20
time: '12:15'
author: 'Boat-Pathompon'
tags: qotd, g-pen
cover: 'http://i1067.photobucket.com/albums/u433/boat_d_angelo/post-thumb/thumb.jpg'
---

<div class='page'>
  <%= image_tag 'http://i1067.photobucket.com/albums/u433/boat_d_angelo/post-thumb/lifewasimple.jpg' %>
</div>
