@font-face {
  src: url("../fonts/woff/SukhumvitSet-Thin.woff") format("woff");
  font-family: "Sukhumvit";
  font-style: normal;
  font-weight: 100; }
@font-face {
  src: url("../fonts/woff/SukhumvitSet-Light.woff") format("woff");
  font-family: "Sukhumvit";
  font-style: normal;
  font-weight: 200; }
@font-face {
  src: url("../fonts/woff/SukhumvitSet-Text.woff") format("woff");
  font-family: "Sukhumvit";
  font-style: normal;
  font-weight: 300; }
@font-face {
  src: url("../fonts/woff/SukhumvitSet-Medium.woff") format("woff");
  font-family: "Sukhumvit";
  font-style: normal;
  font-weight: 400; }
@font-face {
  src: url("../fonts/woff/SukhumvitSet-SemiBold.woff") format("woff");
  font-family: "Sukhumvit";
  font-style: normal;
  font-weight: 500; }
@font-face {
  src: url("../fonts/woff/SukhumvitSet-SemiBold.woff") format("woff");
  font-family: "Sukhumvit";
  font-style: normal;
  font-weight: 600; }
@font-face {
  src: url("../fonts/woff/SukhumvitSet-Bold.woff") format("woff");
  font-family: "Sukhumvit";
  font-style: normal;
  font-weight: 700; }
/* line 1, /Users/boatj/Projects/boat-pathompon.github.io/source/stylesheets/_common.css.scss */
html {
  font-family: Sukhumvit, Arial, serif;
  font-size: 20px; }
