<ul>
  <li><a href='/'><i class='fa fa-home'></i>Home</a></li>
  <li><a href='/posts'><i class='fa fa-folder-open'></i>Posts</a></li>
  <!-- <li><a href='/tags'><i class='fa fa-tags'></i>Tags</a></li> -->
  <li><a href='/about-me'><i class='fa fa-paper-plane'></i>About Me</a></li>
  <hr />
  <li><a class='follow-fb-link' href='http://facebook.com/little.b.cartoon' target='_blank'><i class='fa fa-facebook'></i>Follow Me</a></li>
</ul>
