---
title: About Me
---
<div class='content-wrapper'>
  <div class='avatar'>
    <img src='https://scontent-a-sin.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/s720x720/10360242_342784059220857_6086727366253151952_n.png?oh=57286af731c38db3e04438968053bfb0&oe=5567EE8F' width='240'/>
  </div>

  <div class='detail'>
    <p>
      โปรแกรมเมอร์ผู้ที่มีใจรักในการวาดการ์ตูนมาตั้งแต่เด็กๆ ตอนนี้กำลังเดินตามความฝันในวัยเด็ก คือ
      การเป็นนักวาดการ์ตูน! ด้วยความเชื่อมั่นในคำกล่าวที่ว่า <strong>"ทำสิ่งที่รักยังไงก็รุ่ง"</strong>
    </p>
    <p>
      ขายของนิดนึงละกันเนอะ <strong>รับงานวาดทุกชนิด</strong> ทั้งวาดภาพประกอบหนังสือ การ์ตูนลงสื่อสิ่งพิมพ์ต่างๆ สติกเกอร์การ์ตูน สติกเกอร์ Line
      เรียกง่ายๆ ว่าอะไรที่เป็นงานวาดอะรับหมด ติดต่อตอนนี้มีโปรโมชั่นราคานักวาดโนเนม อีกหน่อยดังแล้วแพงไม่รู้นะเออ รีบติดต่อเข้ามาหละ!!
    </p>
    <p>
      สำหรับใครที่ชื่นชอบผลงานก็สามารถเข้าไปกด Like & Follow ใน <a href='http://facebook.com/little.b.cartoon' target='_blank'>Facebook pages</a>
      ของผมได้เลย!
    </p>

    <hr />

    <ul class='contact-informations'>
      <li class='info-email'>
        <a href='mailto:boat.pathompon@gmail.com'>
          <i class='fa fa-google info-circle'></i><span>boat.pathompon@gmail.com</span>
        </a>
      </li>
      <li class='info-line'>
        <a href='https://s3.amazonaws.com/pushbullet-uploads/ujCgLkJWhvE-GVnp4ENsS56G2vzEDbCglpHAmCAguXfG/qrcode_share.jpg'>
          <i class='fa-line'>Line</i><span>boat.pratompol</span>
        </a>
      </li>
      <li class='info-facebook'>
        <a href='http://facebook.com/little.b.cartoon'>
          <i class='fa fa-facebook'></i><span>Little B</span>
        </a>
      </li>
    </ul>
  </div>

  <div class='clear'></div>
</div>
