---
title: About Me
---
<div class='avatar animated fadeInUp'>
  <%= image_tag 'avatar.jpg' %>
</div>

<div class='detail animated fadeInDown'>
  <p>Programmer ผู้มีใจรักในการ์ตูนและกำลังทำตามความฝันในวัยเด็ก</p>
  <p class='hire-description'>รับงานวาดการ์ตูนประกอบหนังสือ สติกเกอร์ไลน์ และงานวาดอื่นๆ ทุกชนิด</p>
</div>

<ul class='contact-informations'>
  <li class='info-email'>
    <a href='mailto:boat.pathompon@gmail.com'>
      <i class='fa fa-google info-circle'></i><span>boat.pathompon@gmail.com</span>
    </a>
  </li>
  <li class='info-line'>
    <a href='https://s3.amazonaws.com/pushbullet-uploads/ujCgLkJWhvE-GVnp4ENsS56G2vzEDbCglpHAmCAguXfG/qrcode_share.jpg'>
      <i class='fa-line'>Line</i><span>boat.pratompol</span>
    </a>
  </li>
  <li class='info-facebook'>
    <a href='http://facebook.com/little.b.cartoon'>
      <i class='fa fa-facebook'></i><span>Little B Fanpage</span>
    </a>
  </li>
</ul>
