---
title: "ทำความรูจักกันหน่อย : LittleB"
---

<div class='page'>
  <%= post_time '04-Dec-14 1:30' %>
  <h2>ทำความรู้จักกันหน่อย</h2>

  <div class='image-frame avatar'>
    <img src='https://scontent-a-sin.xx.fbcdn.net/hphotos-xfa1/v/t1.0-9/10360242_342784059220857_6086727366253151952_n.png?oh=6217107b4649e83ccd43224a41ab289f&oe=551DAAED' />
  </div>

  <ul class='contact-informations'>
    <li class='info-email'>
      <a href='mailto:boat.pathompon@gmail.com'>
        <i class='fa fa-envelope info-circle'></i><span>boat.pathompon@gmail.com</span>
      </a>
    </li>
    <li class='info-line'>
      <a href='https://s3.amazonaws.com/pushbullet-uploads/ujCgLkJWhvE-GVnp4ENsS56G2vzEDbCglpHAmCAguXfG/qrcode_share.jpg'>
        <i class='info-circle'>Line</i><span>boat.pratompol</span>
      </a>
    </li>
  </ul>

  <hr />

  <div class='info'>
    <p>
      สวัสดีค้าบบ ก่อนอื่นก็ต้องขอขอบคุณท่านผู้อุปการะคุณทุกท่าน เอ้ย! ท่านผู้อ่านที่ให้การสนับสนุน
      (แค่แวะเข้ามาชมผลงานผมก็ดีใจแล้วจริงๆ) คุณอาจจะสงสัยว่า เอ๊ะ! ไอนี่มันเป็นใคร
      แล้วเรามานั่งฟัง(อ่าน) มันอารัมภบททำไม
      <br><br>
      ก่อนอื่นขอแนะนำตัวก่อนนะ ผมชื่อเล่นชื่อ โบ๊ท อาชีพหลักคือ Web Developer หรือเรียกง่ายๆ
      ว่าโปรแกรมเมอร์ คนทำเว็บไซต์ ฯลฯ ก็แล้วแต่จะเรียกละกันเนาะ ชอบวาดการ์ตูนมาตั้งแต่สมัยเด็กๆ
      ตอนนี้ก็วาดเป็นงานอดิเรก ใครสนใจหรือชื่นชอบผมงานก็ติดตามกันได้ที่นี่เลย (มาถึงเว็บแล้วนิเนอะ)
      หรือจะเข้าไปกด Like เพจ Facebook ก็ได้นะ Link อยู่ด้านบนเลย (อย่าลืมตามไปกดนะ บังคับ!)
      <br><br>
      ตอนนี้ก็พยายามวาดสติกเกอร์ส่งขายทาง Line Store อยู่ถ้ายังไงอย่าลืมอุดหนุนกันนะ (แอบโฆษณา)
      ส่วนถ้าใครสนใจจะจ้างไปวาดการ์ตูนประกอบสื่อ ภาพประกอบ สติกเกอร์ ฯลฯ ก็ติดต่อได้เลยนะคับรับหมด
      (โฆษณาอีกละ!)
    </p>

    <div class='text-right thanks'>ขอบคุณที่ติดตามครับ<div class='license'>LittleB</div></div>
  </div>
</div>
