---
title: Test font
sizes: [100, 200, 300, 400, 500, 600, 700]
---

<% current_page.data.sizes.each do |size| %>
  <p style='font-weight: <%= size %>;'>สวัสดีนี่คือฟ้อนต์ขนาด <%= size %>, Hello this is a test font size</p>
<% end %>
ddddddd
